In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('cloud_counselage_dataset.xlsx')
df.shape

(4894, 16)

# DATA CLEANING

In [3]:
df.columns = df.columns.str.lower()
df.columns

Index(['first name', 'email id', 'quantity', 'events', 'attendee status',
       'college name', 'how did you come to know about this event?',
       'specify in "others" (how did you come to know about this event)',
       'designation', 'year of graduation', 'city', 'cgpa',
       'experience with python (months)', 'family income',
       'expected salary (lac)', 'leadership- skills'],
      dtype='object')

In [4]:
# checking the null values for each columns
null_values = df.isnull().sum()
null_values

first name                                                            0
email id                                                              0
quantity                                                              0
events                                                                0
attendee status                                                       0
college name                                                         15
how did you come to know about this event?                         2216
specify in "others" (how did you come to know about this event)    4805
designation                                                           0
year of graduation                                                    0
city                                                                  0
cgpa                                                                  0
experience with python (months)                                       0
family income                                                         0
expected salary (lac)                                                 0
leadership- skills                                                    0
dtype: int64

## Dropping rows where college name is null

In [5]:
index_values = df[df['college name'].isnull()].index
df.drop(index_values , inplace = True)

In [6]:
df_new = df.copy()
# i have dropped the rows where college name is null - so some indexes will be missing so i will reset the index so that loops can be ran properly.
df_new.reset_index(inplace =True , drop = True)

In [7]:
test_one = df[df['how did you come to know about this event?'].isnull()
& df['specify in "others" (how did you come to know about this event)'].isnull()]
test_one.shape

(2215, 16)

In [8]:
# so total 2215 rows are there where the column - how did you come to know about this event? is null 
test = df[df['how did you come to know about this event?'].isnull()]
test.shape

(2215, 16)

In [9]:
df_new['how did you come to know about this event?'].value_counts().sort_values(ascending= False)

how did you come to know about this event?
Whatsapp                                                                        1064
Email                                                                            432
SPOC/ College Professor                                                          325
Others                                                                           153
Cloud Counselage Website                                                         128
                                                                                ...
Facebook | Instagram | Whatsapp | Email                                            1
Whatsapp | Cloud Counselage Website | Others                                       1
Youtube | Facebook | Instagram | LinkedIn | Email | Cloud Counselage Website       1
Youtube | Instagram | Whatsapp | Email | Cloud Counselage Website                  1
Youtube | Whatsapp | Cloud Counselage Website                                      1
Name: count, Length: 98, dtype: int64

In [10]:
df_new['how did you come to know about this event?'] = df_new['how did you come to know about this event?'].astype(str)
def clean_cell(cell):
    if cell != np.NaN:
        return cell.split(' | ')[0]
    else:
        return np.NaN
df_new['how did you come to know about this event?'] = df_new['how did you come to know about this event?'].apply(clean_cell)
df_new

,first name,email id,quantity,events,attendee status,college name,how did you come to know about this event?,"specify in ""others"" (how did you come to know about this event)",designation,year of graduation,city,cgpa,experience with python (months),family income,expected salary (lac),leadership- skills
0,ANIKET,aniket@xyz.com,1,Art of Resume Building,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,2024,Patna,6.7,7,7 Lakh+,6,yes
1,Dhanshree,dhanshree@xyz.com,1,Art of Resume Building,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,2024,Amravati,8.2,3,0-2 Lakh,7,no
2,Dhiraj,dhiraj@xyz.com,1,Art of Resume Building,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,2023,Kunrool,6.5,4,5-7 Lakh,7,no
3,Pooja,pooja@xyz.com,1,Art of Resume Building,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,2025,Tirupati,8.7,7,2-5 Lakh,8,no
4,Aayush,aayush@xyz.com,1,Art of Resume Building,Attending,St Xavier's College,Instagram,NaN,Students,2024,Vijaywada,9.1,3,0-2 Lakh,10,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,Patel Niraj,patelniraj@xyz.com,1,The SDLC & their transformations,Attending,"thakur institute of management studies, career...",LinkedIn,NaN,Students,2024,Jodhpur,6.9,6,0-2 Lakh,15,yes
4875,VIDIT,vidit@xyz.com,1,Data Visualization using Power BI,Attending,government polytechnic gandhinagar,nan,NaN,Students,2023,Jalgaon,6.5,6,0-2 Lakh,8,no
4876,Suryaprakash,suryaprakash@xyz.com,1,Data Visualization using Power BI,Attending,"vishwakarma institute of technology, pune",nan,NaN,Students,2024,Thane,6.9,5,0-2 Lakh,7,no
4877,Saif ali,saifali@xyz.com,1,Data Visualization using Power BI,Attending,"mit academy of engineering ,alandi",nan,NaN,Students,2024,Patiala,9.0,3,0-2 Lakh,23,yes
4878,Lankesh,lankesh@xyz.com,1,Data Visualization using Power BI,Attending,a. c. patil college of engineering,nan,NaN,Students,2025,Sangrur,7.2,8,0-2 Lakh,9,yes

## CLEAING THE how did you come to know about this event COLUMN

In [11]:
# now we will replace the others form the how did you come to know about this event? column by the corresponding values from this
#specify in "others" (how did you come to know about this event) column

In [12]:
for i in range(df_new.shape[0]):
    if df_new.loc[i, 'how did you come to know about this event?'] == 'Others':  # == is comparison operator
        df_new.loc[i, 'how did you come to know about this event?'] = df_new['specify in "others" (how did you come to know about this event)'][i]
    elif df_new.loc[i, 'how did you come to know about this event?'] == np.nan:
        df_new.loc[i, 'how did you come to know about this event?'] = np.nan

## Replacing nan with highest frequency element

In [13]:
df_new['how did you come to know about this event?'] = df_new['how did you come to know about this event?'].replace({'nan' : 'Whatsapp'})
df_new['how did you come to know about this event?'] = df_new['how did you come to know about this event?'].fillna('Whatsapp')

### Converting the college name to lowercase for easier analysis

In [14]:
df_new['college name'] = df_new['college name'].str.lower()

DROPPING THE specify in "others" (how did you come to know about this event) COLUMN AS NO NEED FOR FURTHER ANALYSIS

In [15]:
df_new = df_new.drop(columns = ['specify in "others" (how did you come to know about this event)'])

In [16]:
df_new.columns

Index(['first name', 'email id', 'quantity', 'events', 'attendee status',
       'college name', 'how did you come to know about this event?',
       'designation', 'year of graduation', 'city', 'cgpa',
       'experience with python (months)', 'family income',
       'expected salary (lac)', 'leadership- skills'],
      dtype='object')

In [17]:
df_new['attendee status'] = df_new['attendee status'].replace('NAN', 'Attending')
df_new['attendee status'].value_counts()

attendee status
Attending    4879
Name: count, dtype: int64

In [18]:
# creating a new column using the family income column

# getting unique groups then replacing them - with the higher number.
df_new['family income'].unique()
df_new['family_income_calculated'] = df_new['family income'].replace({
    '7 Lakh+' : 7,
    '0-2 Lakh' : 2,
    '5-7 Lakh' : 7,
    '2-5 Lakh' : 5
})

C:\Users\TEJUS PAL\AppData\Local\Temp\ipykernel_8764\3229334890.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new['family_income_calculated'] = df_new['family income'].replace({

In [19]:
# now checking for the duplicates in the dataframe based of first name and emailid columns
duplicates = df_new.duplicated(subset = ['first name', 'email id'])
duplicates.sum() # total no of duplicates
# now deleting these duplicates rows
df_two = df_new.drop_duplicates(subset= ['first name', 'email id'])
df_two['first name'] = df_two['first name'].str.lower()

C:\Users\TEJUS PAL\AppData\Local\Temp\ipykernel_8764\3585223952.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_two['first name'] = df_two['first name'].str.lower()

In [20]:
index_values_to_delete = df_two[df_two['college name'] == 'na'].index
df_two = df_two.drop(index_values_to_delete)

In [21]:
df_two[df_two['college name'] == 'na']

Empty DataFrame
Columns: [first name, email id, quantity, events, attendee status, college name, how did you come to know about this event?, designation, year of graduation, city, cgpa, experience with python (months), family income, expected salary (lac), leadership- skills, family_income_calculated]
Index: []

In [22]:
cleaned_dataset = df_two.copy()
cleaned_dataset.to_csv('cleaned_dataset.csv' , index = False)

In [23]:
final_testing = cleaned_dataset.isnull().sum()
print(final_testing)

first name                                    0
email id                                      0
quantity                                      0
events                                        0
attendee status                               0
college name                                  0
how did you come to know about this event?    0
designation                                   0
year of graduation                            0
city                                          0
cgpa                                          0
experience with python (months)               0
family income                                 0
expected salary (lac)                         0
leadership- skills                            0
family_income_calculated                      0
dtype: int64